<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>WERKBLAD</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>WERKBLAD</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-51e465bb53a8498b9a6ff5e1d1f873bf.png" alt="WERKBLAD" usemap="#id-51e465bb53a8498b9a6ff5e1d1f873bfmap"/>
			   <map name="id-51e465bb53a8498b9a6ff5e1d1f873bfmap">
				  		<area shape="rect" coords="442,574,562,629" href="../elements/id-d9b897d5e0cf4d40a7f168fe715c81ad.html"  target="element">
				  		<area shape="rect" coords="226,574,346,629" href="../elements/id-78410.html"  target="element">
				  		<area shape="rect" coords="442,514,562,569" href="../elements/id-e8cd92bfd35e4fda88fc0b555f3e4732.html"  target="element">
				  		<area shape="rect" coords="442,454,562,509" href="../elements/id-c663e161c4fd441c97f728d13c572b8f.html"  target="element">
				  		<area shape="rect" coords="442,394,562,449" href="../elements/id-fdfa90c909124736a2d7999a2b0b8002.html"  target="element">
				  		<area shape="rect" coords="442,334,562,389" href="../elements/id-27be5628bf284be399e0652d2ad39020.html"  target="element">
				  		<area shape="rect" coords="442,274,562,329" href="../elements/id-062847ccfbdd408dae9c3b075092b490.html"  target="element">
				  		<area shape="rect" coords="442,214,562,269" href="../elements/id-2e7b82db79904a78823c45224e9f65fc.html"  target="element">
				  		<area shape="rect" coords="442,154,562,209" href="../elements/id-f6724ce1e61f4237b6d936eac77d4d40.html"  target="element">
				  		<area shape="rect" coords="442,94,562,149" href="../elements/id-f3a0f9b84c6a40c9a49394f47b444987.html"  target="element">
				  		<area shape="rect" coords="226,514,346,569" href="../elements/id-0659440f6c25422b804558913c054f5b.html"  target="element">
				  		<area shape="rect" coords="226,454,346,509" href="../elements/id-9c06214d16094a0bb1d6c6d5aa96e805.html"  target="element">
				  		<area shape="rect" coords="226,394,346,449" href="../elements/id-3ac259d10e0f47b0af385ca52262596d.html"  target="element">
				  		<area shape="rect" coords="226,334,346,389" href="../elements/id-224327ca60ec4046adf8a4ff99900902.html"  target="element">
				  		<area shape="rect" coords="226,274,346,329" href="../elements/id-e0804030567545f191b07cfea5d1a2ed.html"  target="element">
				  		<area shape="rect" coords="226,214,346,269" href="../elements/id-7606638de63945be874fe5bf2e854a07.html"  target="element">
				  		<area shape="rect" coords="226,154,346,209" href="../elements/id-4cab4f59a3a54212bede5c33bde3ce29.html"  target="element">
				  		<area shape="rect" coords="226,94,346,149" href="../elements/id-6d1d81eca94244a5a7f816c11b97bd48.html"  target="element">
				          <area shape="rect" coords="10,10,195,59" href="../objects/id-fadaa58f41d843a193a20e03ddb6592b.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-fadaa58f41d843a193a20e03ddb6592b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fadaa58f41d843a193a20e03ddb6592b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-6d1d81eca94244a5a7f816c11b97bd48.html" target="element"> MIMP001 SaaS voor PaaS voor IaaS </a> </td>
											    <td> <a href="../elements/id-6d1d81eca94244a5a7f816c11b97bd48.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4cab4f59a3a54212bede5c33bde3ce29.html" target="element"> MIMP002 Microsoft First beleid </a> </td>
											    <td> <a href="../elements/id-4cab4f59a3a54212bede5c33bde3ce29.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7606638de63945be874fe5bf2e854a07.html" target="element"> MIMP003 Zero Foorptint SaaS applicaties </a> </td>
											    <td> <a href="../elements/id-7606638de63945be874fe5bf2e854a07.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e0804030567545f191b07cfea5d1a2ed.html" target="element"> MIMP004 Experimenteerruimte om te leren </a> </td>
											    <td> <a href="../elements/id-e0804030567545f191b07cfea5d1a2ed.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-224327ca60ec4046adf8a4ff99900902.html" target="element"> MIMP005 Gebruik van proven technology </a> </td>
											    <td> <a href="../elements/id-224327ca60ec4046adf8a4ff99900902.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ac259d10e0f47b0af385ca52262596d.html" target="element"> MIMP006 Security gericht inzetten </a> </td>
											    <td> <a href="../elements/id-3ac259d10e0f47b0af385ca52262596d.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9c06214d16094a0bb1d6c6d5aa96e805.html" target="element"> MIMP007 Gemeenschappelijk taalgebruik </a> </td>
											    <td> <a href="../elements/id-9c06214d16094a0bb1d6c6d5aa96e805.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0659440f6c25422b804558913c054f5b.html" target="element"> MIMP008 NORA en GEMMA worden gevolgd </a> </td>
											    <td> <a href="../elements/id-0659440f6c25422b804558913c054f5b.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3a0f9b84c6a40c9a49394f47b444987.html" target="element"> MIMP010 Enkelvoudig gebruik van functionaliteiten </a> </td>
											    <td> <a href="../elements/id-f3a0f9b84c6a40c9a49394f47b444987.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f6724ce1e61f4237b6d936eac77d4d40.html" target="element"> MIMP011 Lifecyclemanagement </a> </td>
											    <td> <a href="../elements/id-f6724ce1e61f4237b6d936eac77d4d40.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e7b82db79904a78823c45224e9f65fc.html" target="element"> MIMP012 Configuratiemanagement </a> </td>
											    <td> <a href="../elements/id-2e7b82db79904a78823c45224e9f65fc.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-062847ccfbdd408dae9c3b075092b490.html" target="element"> MIMP013 Schaalbaarheid </a> </td>
											    <td> <a href="../elements/id-062847ccfbdd408dae9c3b075092b490.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-27be5628bf284be399e0652d2ad39020.html" target="element"> MIMP014 Automatiseren van beheertaken </a> </td>
											    <td> <a href="../elements/id-27be5628bf284be399e0652d2ad39020.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fdfa90c909124736a2d7999a2b0b8002.html" target="element"> MIMP015 Reuse, before buy, before build </a> </td>
											    <td> <a href="../elements/id-fdfa90c909124736a2d7999a2b0b8002.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c663e161c4fd441c97f728d13c572b8f.html" target="element"> MIMP016 Architectuur op maat op het juiste moment </a> </td>
											    <td> <a href="../elements/id-c663e161c4fd441c97f728d13c572b8f.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e8cd92bfd35e4fda88fc0b555f3e4732.html" target="element"> MIMP017 Streven naar hoogst mogelijke beschikbaarheid </a> </td>
											    <td> <a href="../elements/id-e8cd92bfd35e4fda88fc0b555f3e4732.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-78410.html" target="element"> MIMP009 Richt het netwerk in o.b.v. dataclassificatie </a> </td>
											    <td> <a href="../elements/id-78410.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d9b897d5e0cf4d40a7f168fe715c81ad.html" target="element"> MIMP018 Hanteren van minimaal laatst ondersteunde versie </a> </td>
											    <td> <a href="../elements/id-d9b897d5e0cf4d40a7f168fe715c81ad.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>